<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>ru.mikhail.VolumeMixer</string>
    <key>CFBundleName</key><string>Микшер громкости</string>
    <key>CFBundleDisplayName</key><string>Микшер громкости</string>
    <key>CFBundleExecutable</key><string>VolumeMixer</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>1.1</string>
    <key>CFBundleVersion</key><string>2</string>
    <key>LSMinimumSystemVersion</key><string>15.0</string>
    <key>LSUIElement</key><true/>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>Микшеру нужен доступ к системному звуку, чтобы регулировать громкость отдельных приложений.</string>
    <key>SUFeedURL</key><string>https://raw.githubusercontent.com/djet00/VolumeMixer/main/appcast.xml</string>
    <key>SUPublicEDKey</key><string>ZXA3fytJ2xZRBSi1anjzwHjKIfaKvzpyKSjtLKOC9qQ=</string>
    <key>SUEnableAutomaticChecks</key><true/>
</dict>
</plist>
